page-details {
    .toolbar-background {
        background-color:#071E36;
    }

    .toolbar-title {
        color: white;
    }

    .label {
        white-space: normal !important;
    }

    p {
        color:black !important;
    }
}
